@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: "Rubik", sans-serif;
    background-color: #1297d4;
}
section{
    max-width: 1140px;
    margin: 0 auto;
}
.menu ul li{
    display: inline-block;
    padding: 20px;
    font-size: 20px;

}

.logotipo img{
    width: 200px;
    border-radius: 10px;
}

.logotipo{
    float: left;
}

.menu li a{
    color: #000;
    text-decoration: none;

}

.menu li a:hover{
    color: #444;
}

.menu{
    padding-top: 15px;
}

.slider img{
    width: 100%;
}

header{
    padding: 10px 0;
    height: 100px;
}

.item{
    background-color: white;
    padding: 20px;
    display: inline-block;
    width: 300px;
    margin: 10px 10px;
}

.descricao{
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}

a{
    text-decoration: none;
}

footer div{
    width: 33%;
    display: inline-block;
}

footer iframe{
    width: 100%!important;
}

footer{
    background-color: #444;
}

.formulario input{
    width: 90%;
    height: 40px;
    margin: 10px;
}

.contato p{
    font-size: 20px;
    padding: 10px;
    color: #fff
}